<NavLink href="/examenes" Match="NavLinkMatch.All">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Examenes
</NavLink>
<NavLink href="/create-examen">
    <span class="oi oi-plus" aria-hidden="true"></span> Create Examen
</NavLink>
